.unity-label {
    color: rgba(196, 196, 196, 255);
    font-size: 14px;
    -unity-text-align: middle-center;
}

.unity-base-text-field__input {
    font-size: 14px;
    padding-left: 12px;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.unity-base-field__input {
    margin-right: 57px;
}
